---
Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -misc-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-owning-memory,
  -readability-identifier-length

WarningsAsErrors: '*'

HeaderFilterRegex: 'include/Alcia/.*'

CheckOptions:
  - key:   readability-identifier-naming.NamespaceCase
    value: lower_case
  - key:   readability-identifier-naming.ClassCase
    value: CamelCase
  - key:   readability-identifier-naming.StructCase
    value: CamelCase
  - key:   readability-identifier-naming.FunctionCase
    value: camelBack
  - key:   readability-identifier-naming.VariableCase
    value: camelBack
  - key:   readability-identifier-naming.ParameterCase
    value: camelBack
  - key:   readability-identifier-naming.MemberCase
    value: camelBack
  - key:   readability-identifier-naming.MemberPrefix
    value: 'm_'
  - key:   readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  - key:   readability-identifier-naming.EnumConstantCase
    value: CamelCase
  - key:   modernize-use-default-member-init.UseAssignment
    value: '1'
  - key:   cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value: '1'
  - key:   readability-function-cognitive-complexity.Threshold
    value: '25'
...
