build/
install/
out/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
_CPack_Packages/
CMakeUserPresets.json
compile_commands.json

.conan/data/
.conan/p/
conan.lock

*.gcno
*.gcda
*.gcov
coverage.info
coverage_html/

.vscode/
.vs/
.idea/
.clangd/
.cache/
CMakeLists.txt.user


.DS_Store
Thumbs.db
*.orig
*.swp
*~
aqtinstall.log
